[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil.git
[submodule "castle_farming"]
	path = castle_farming
	url = https://github.com/minetest-mods/castle_farming
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates
[submodule "castle_lighting"]
	path = castle_lighting
	url = https://github.com/minetest-mods/castle_lighting
[submodule "castle_masonry"]
	path = castle_masonry
	url = https://github.com/minetest-mods/castle_masonry
[submodule "castle_shields"]
	path = castle_shields
	url = https://github.com/minetest-mods/castle_shields
[submodule "castle_storage"]
	path = castle_storage
	url = https://github.com/minetest-mods/castle_storage
[submodule "castle_tapestries"]
	path = castle_tapestries
	url = https://github.com/minetest-mods/castle_tapestries
[submodule "castle_weapons"]
	path = castle_weapons
	url = https://github.com/minetest-mods/castle_weapons
[submodule "crafting_bench"]
	path = crafting_bench
	url = https://github.com/minetest-mods/crafting_bench
[submodule "orbs_of_time"]
	path = orbs_of_time
	url = https://github.com/minetest-mods/orbs_of_time
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes
[submodule "cottages"]
	path = cottages
	url = https://github.com/Sokomine/cottages
[submodule "minislots"]
	path = minislots
	url = https://github.com/mt-mods/minislots.git
[submodule "replacer"]
	path = replacer
	url = https://github.com/Sokomine/replacer
[submodule "Minetest-WorldEdit"]
	path = Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "notice"]
	path = notice
	url = https://github.com/BlockCityCreative/notice/
[submodule "food_modern"]
	path = food_modern
	url = git@github.com:rubenwardy/food_modern.git
[submodule "mt_morcmds"]
	path = mt_morcmds
	url = https://github.com/ChaosWormz/mt_morcmds.git
[submodule "bedrock"]
	path = bedrock
	url = https://github.com/Calinou/bedrock
[submodule "irc_commands"]
	path = irc_commands
	url = https://github.com/minetest-mods/irc_commands
[submodule "food_sweet"]
	path = food_sweet
	url = git@github.com:rubenwardy/food_sweet.git
[submodule "food"]
	path = food
	url = git@github.com:rubenwardy/food.git
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/mt-mods/travelnet
[submodule "wield3d"]
	path = wield3d
	url = https://github.com/minetest-mods/wield3d
[submodule "inspector"]
	path = inspector
	url = https://github.com/minetest-mods/inspector
[submodule "newplayer"]
	path = newplayer
	url = https://cheapiesystems.com/git/newplayer
[submodule "fsc"]
	path = fsc
	url = https://github.com/sofar/fsc
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2
[submodule "round_trunks"]
	path = round_trunks
	url = https://github.com/mt-mods/round_trunks
[submodule "reboot_warner"]
	path = reboot_warner
	url = https://github.com/mt-mods/reboot_warner
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "teleport-request"]
	path = teleport-request
	url = https://github.com/minetest-mods/teleport-request
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/mt-mods/signs_lib.git
[submodule "names_per_ip"]
	path = names_per_ip
	url = https://github.com/SmallJoker/names_per_ip
[submodule "maptools"]
	path = maptools
	url = https://github.com/calinou/maptools
[submodule "bucket_privs"]
	path = bucket_privs
	url = git@github.com:ChaosWormz/bucket_privs.git
[submodule "simple_streetlights"]
	path = simple_streetlights
	url = https://github.com/mt-mods/simple_streetlights
[submodule "snippets"]
	path = snippets
	url = https://github.com/mt-historical/snippets
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://github.com/mt-mods/unifieddyes.git
[submodule "gloopblocks"]
	path = gloopblocks
	url = https://github.com/mt-mods/gloopblocks
[submodule "lib_mount"]
	path = lib_mount
	url = git@github.com:blert2112/lib_mount.git
[submodule "stained_glass"]
	path = stained_glass
	url = https://github.com/andersje/stained_glass.git
[submodule "ilights"]
	path = ilights
	url = https://github.com/mt-mods/ilights
[submodule "basic_signs"]
	path = basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "dropthecaps"]
	path = dropthecaps
	url = https://cheapiesystems.com/git/dropthecaps
[submodule "areasprotector"]
	path = areasprotector
	url = git://cheapiesystems.com/areasprotector
[submodule "irc"]
	path = irc
	url = https://github.com/minetest-mods/irc
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency
[submodule "vps_blocker"]
	path = vps_blocker
	url = https://github.com/Lejo1/vps_blocker
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters
[submodule "pbj_pup"]
	path = pbj_pup
	url = https://codeberg.org/tenplus1/pbj_pup
[submodule "ltc4000e"]
	path = ltc4000e
	url = https://cheapiesystems.com/git/ltc4000e/
[submodule "coloredwood"]
	path = coloredwood
	url = https://github.com/mt-mods/coloredwood
[submodule "unifiedbricks"]
	path = unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks
[submodule "icemachine"]
	path = icemachine
	url = https://cheapiesystems.com/git/icemachine/
[submodule "arrowboards"]
	path = arrowboards
	url = https://cheapiesystems.com/git/arrowboards/
[submodule "playersettings"]
	path = playersettings
	url = https://cheapiesystems.com/git/playersettings
[submodule "creativesettings"]
	path = creativesettings
	url = https://cheapiesystems.com/git/creativesettings
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://github.com/mt-mods/homedecor_modpack
[submodule "dreambuilder_hotbar"]
	path = dreambuilder_hotbar
	url = https://github.com/mt-mods/dreambuilder_hotbar
[submodule "led_marquee"]
	path = led_marquee
	url = https://github.com/mt-mods/led_marquee
[submodule "invsaw"]
	path = invsaw
	url = https://github.com/mt-mods/invsaw
[submodule "digistuff"]
	path = digistuff
	url = https://github.com/mt-mods/digistuff
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "xcompat"]
	path = xcompat
	url = https://github.com/mt-mods/xcompat
[submodule "roads"]
	path = roads
	url = https://cheapiesystems.com/git/roads/
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
